@font-face {
    font-family: 'MinSans';
    src: url('/fonts/MinSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MinSans';
    src: url('/fonts/MinSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MinSans';
    src: url('/fonts/MinSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MinSans';
    src: url('/fonts/MinSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MinSans';
    src: url('/fonts/MinSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MinSans';
    src: url('/fonts/MinSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
  }