.main_bg{
    width:100vw;
    height:100vh;
    position:fixed;
    background-color:rgb(240, 240, 240);
    display:flex;
    justify-content:center;
    z-index: -999;
}
    .main_title{
        margin-top:10%;
        color:#fff;
        font-size:5rem;
        font-family: 'S-CoreDream';
        font-weight: 100;
        @media(width < 980px){
            font-size:4rem;
            font-weight: 100;
        }
        @media(width < 480px){
            font-size:2.6rem;
        font-weight: 100;
        }
    }

.logout_btn{
    display:block;
    position:fixed;
    top:70px;
    right:0;
    width:90px;
    height:30px;
    background-color:#000;
    color:#fff;
    text-align:center;
    line-height:30px;
    cursor:pointer;
    @media(width < 980px){
        top:56px;
        height:26px;
        width:70px;
        line-height:26px;
    }
    @media(width < 480px){
        top:40px;
        height:22px;
        width:60px;
        line-height:22px;
    }
}








