//네비게이션
.navi{
    z-index: 999;
    position:fixed;
    width:100vw;
    height:70px;
    background-color:rgba(255, 255, 255, 0.6);
    backdrop-filter:blur(15px);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1% 1%;
    color:#333;
    @media(width < 980px){
        height:56px;
    }
    @media(width < 480px){
        height:40px;
    }
}

.logo_box{
    width:auto;
    height:100%;
}
    .logo{
        width:auto;
        height:100%;
        display:flex;
        align-items:center;
    }
    .logo img{
        width:auto;
        height:4.6rem;
        cursor:pointer;
        @media(width < 980px){
            height:3.6rem;
        }
        @media(width < 480px){
            height:2.6rem;
        }
    }

.sns_box{
    width:auto;
    height:100%;
    font-size:2.8rem;
    font-weight:100;
    padding:0 1%;
    @media(width <= 980px){
        display:none;
    }
    @media(width > 980px){
        display:block;
    }
}
.sns_box ul{
    width:100%;
    height:100%;
    display:flex;
    justify-content:right;
    align-items:center;
}
    .utube_icon{
        margin-right:10px;
        cursor:pointer;
        font-size:2.8rem;
        @media(width > 980px){
            color:#222;
        }
        @media(width <= 980px){
            font-size:2.6rem;
            font-weight:100;
        }
    }
    .utube_icon:hover{
        color:rgb(229, 0, 0);
    }
    .insta_icon{
        cursor:pointer;
        font-size:2.6rem;
        @media(width > 980px){
            color:#222;
        }
        @media(width <= 980px){
            margin-right:16px;
            font-size:2.4rem;
            font-weight:100;
        }
    }
    .insta_icon:hover{
        color:rgb(255, 98, 125);
    }

//메뉴 공용
.menu{
    font-size:1.6rem;
    font-weight:600;
    color:#333;
}
    .menu:hover{
        @media(width <= 980px){
            background-color:#222;
            color:#fff;
        }
        @media(width > 980px){
            color:#111;
            filter:drop-shadow(0px 0px 4px #c4c4c4);
            transition:all 0.3s;
        }
    }
    .menu:last-child:hover{
        @media(width <= 980px){
            background-color:#ff343400;
            color:#333;
        }
    }

//Pc 메뉴
.menu_box_pc{
    width:60%;
    height:100%;
    @media(width <= 980px){
        display:none;
    }
    @media(width > 980px){
        display:block;
    }
}
.menu_box_pc ul{
    width:100%;
    height:100%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
    .menu_box_pc ul li{
        cursor:pointer;
        height:28px;
        line-height:28px;
        padding:0 4px;
    }


//Mobile 메뉴
.hamburger{
    margin-right:1%;
    cursor:pointer;
    @media(width <= 980px){
        display:block;
    }
    @media(width > 980px){
        display:none;
    }
}
    .bar{
        width:20px;
        height:3px;
        background-color:#333;
        margin-bottom:4px;
    }

.menu_box_mobile{
    position: fixed;
    top: -30%;
    left: 0;
    width: 100%;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    
    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-in-out;
    }
    
    &.is-active {
        opacity: 1;
        visibility: visible;
        
        &::before {
            opacity: 1;
            visibility: visible;
        }
        
        ul {
            transform: translateY(0);
        }
        @media(width < 980px){
            top:56px;
        }
        @media(width < 480px){
            top:40px;
        }
    }
    
    @media(width <= 980px){
        display:block;
    }
    @media(width > 980px){
        display:none;
    }
}
.menu_box_mobile ul{
    width:100%;
    height:100%;
    text-align:center;
    background-color:rgba(255, 255, 255, 0.6);
}
    .menu_box_mobile ul li{
        padding:1% 0;
        cursor:pointer;
        box-shadow:0 1px 0 0 #00000010;
        line-height:30px;
    }
        .menu_box_mobile ul li:last-child{
            cursor:inherit;
            padding-top:2%;
        }

    .txt_box{
        display:block;
    }

.sns_menu{
    text-align:right;
}

















